<div class="cinema paper">

  {{#if isEditing}}
    {{partial 'movies/edit'}}
  {{else}}
  
  {{map latitude longitude}}

  <header>
    <h2 class="cinema-name">{{name}}</h2>
    <h5 class="cinema-address">{{address}}</h5>
  </header>

  <section>
    
    <div class="row">
      <div class="col-md-6">
        <dl>
          <dt><i class="fa fa-phone"></i> Phone Number<dt>
          <dd>{{#if phoneNumber}}{{phoneNumber}}{{else}}None{{/if}}</dd>
          <dt><i class="fa fa-arrows-h"></i> Latitude</dt>
          <dd>{{latitude}}</dd>
          <dt><i class="fa fa-eye"></i> Status</dt>
          <dd><code>{{status}}</code></dd>
        </dl>
      </div>
      <div class="col-md-6">
        <dl>
          <dt><i class="fa fa-globe"></i> Website</dt>
          <dd><a {{bind-attr href=website}} target="_blank">{{website}}</a></dd>
          <dt><i class="fa fa-arrows-v"></i> Longitude</dt>
          <dd>{{longitude}}</dd>
          <dt><i class="fa fa-gear"></i> Scraper</dt>
          <dd><code>{{fetcher}}</code></dd>
        </dl>
      </div>
    </div>

  </section>
  
  <section>
    
    <h3 class="section-title">Upcoming Movies</h3>
    
    <table class="table">
      <tbody>
        {{#each movies}}
        <tr>
          <th>{{room}}</th>
          <td>{{#link-to 'movie' movie_id}}{{movie}}{{/link-to}}</td>
          <td>{{calendarTime screening_time}}</td>
          <td><span class="format">{{format}}</span></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    
  </section>
  
  {{/if}}

</div>
<div class="curtains"></div>