<div class="movie-popover">

  <div class="movie">

    {{view "trailer"}}

    <div class="movie-content">
  
      <div class="movie-header">
        <hgroup>
          <h2 class="movie-title">{{title}}</h2>
          {{#if tagline}}<h4 class="movie-tagline">{{tagline}}</h4>{{/if}}
        </hgroup>
        <a href="#" class="movie-edit btn btn-primary"><i class="fa fa-pencil"></i> Edit</a>
      </div>
      
      <div class="movie-overview">
        <p>{{overview}}</p>
      </div>
      
      <div class="movie-info row">
        <div class="col-md-6">
          <dl>
            <dt><i class="fa fa-clock-o"></i> Runtime</dt>
            <dd>{{duration runtime}}</dd>
            <dt><i class="fa fa-child"></i> Rating</dt>
            <dd>{{mtrcbRating}}</dd>
            {{#if website}}
            <dt><i class="fa fa-external-link"></i> Website</dt>
            <dd><a {{bind-attr href=website}}>{{website}}</a></dd>
            {{/if}}
          </dl>
        </div>
        <div class="col-md-6">
          <dl>
            {{#if genres}}
            <dt><i class="fa fa-tags"></i> Genres</dt>
            <dd>{{commafy genres}}</dd>
            {{/if}}
            {{#if cast}}
            <dt><i class="fa fa-group"></i>  Cast</dt>
            <dd>{{commafy cast}}</dd>
            {{/if}}
          </dl>
        </div>
      </div>
      
      <section class="movie-scores">
        <h3>Scores</h3>
        <div class="score-graph row">
          <div class="col-md-3 score">
            <div class="bar red" style="height: 40.25px">2.3</div>
            <h4 class="source-name"><a href="#" target="_blank">IMDB</a></h4>
          </div>
          <div class="col-md-3 score">
            <div class="bar yellow" style="height: 87.5px">5.0</div>
            <h4 class="source-name"><a href="#" targe="_blank">Rotten Tomatoes</a></h4>
          </div>
          <div class="col-md-3 score">
            <div class="bar green" style="height: 147px">8.4</div>
            <h4 class="source-name"><a href="#" target="_blank">Metacritic</a></h4>
          </div>
          <div class="col-md-3 score">
            <div class="bar green" style="height: 173.25px">9.9</div>
            <h4 class="source-name"><a href="#" target="_blank">Average Score</a></h4>
          </div>
          <hr>
        </div>
      </section>
      
      <section class="movie-schedules">
        <h3>Screening Times</h3>
        <table class="table">
          <tbody>
            <tr>
              <td>Tomorrow, 9:00 am</td>
              <td><a href="#">SM Lanang</a></td>
              <td>&#8369 150</td>
              <td><span class="format">2D</span></td>
            </tr>
            <tr>
              <td>Tomorrow, 9:00 am</td>
              <td><a href="#">SM Lanang</a></td>
              <td>&#8369 150</td>
              <td><span class="format">2D</span></td>
            </tr>
            <tr>
              <td>Tomorrow, 9:00 am</td>
              <td><a href="#">SM Lanang</a></td>
              <td>&#8369 150</td>
              <td><span class="format">2D</span></td>
            </tr>
            <tr>
              <td>Tomorrow, 9:00 am</td>
              <td><a href="#">SM Lanang</a></td>
              <td>&#8369 150</td>
              <td><span class="format">2D</span></td>
            </tr>
            <tr>
              <td>Tomorrow, 9:00 am</td>
              <td><a href="#">SM Lanang</a></td>
              <td>&#8369 150</td>
              <td ><span class="format">2D</span></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="4" class="align-center">
                <a href="#">View More</a>
              </td>
            </tr>
          </tfoot>
        </table>
      </section>
  
    </div>
  
  </div>

</div>
<div class="curtains"></div>