<div id="movies">

  <div class="page-header row">
  
    <h2>Movies <span>/</span> Now Showing</h2>
    
  </div>
  
  <div class="media-grid">
    
    {{#each}}
    
      <div class="movie media-item">
        {{#link-to 'movie' this}}
          {{#if posterUrl}}
            <div class="thumbnail">
              <img {{bind-attr src=posterUrl}} {{bind-attr alt=title}}>
            </div>
          {{else}}
            <div class="thumbnail no-thumbnail"></div>
          {{/if}}
          <h4 class="movie-title">{{title}}</h4>
          <span class="media-info">{{scheduleCount}} schedules</span>
          <span class="media-info">{{cinemaCount}} cinemas</span>
        {{/link-to}}
      </div>
    
    {{/each}}
    
  </div>
  
  <div class="movie-popover">
    {{outlet}}
  </div>

</div>