<div class="movie-popover">

  <div class="movie">

    <div class="movie-trailer">
      <img {{bind-attr src=backdropUrl}} {{bind-attr alt=title}}>
    </div>

    <div class="movie-content">
  
      <div class="movie-header">
        <h2 class="movie-title">{{title}}</h2>
        <a href="#" class="movie-edit btn btn-primary">Edit</a>
      </div>
      
      <p>{{overview}}</p>
      
      <div class="row">
        <div class="col-md-6">
          <dl>
            <dt>Runtime</dt>
            <dd>{{runtime}} min</dd>
            <dt>MTRCB Rating</dt>
            <dd>{{mtrcbRating}}</dd>
            <dt>Website</dt>
            <dd><a href="#">http://bruxromuar.com</a></dd>
          </dl>
        </div>
        <div class="col-md-6">
          <dl>
            <dt>Genres</dt>
            <dd>Action, Horror, Comedy</dd>
            <dt>Cast</dt>
            <dd>Brux Romuar, Jamie Chung</dd>
          </dl>
        </div>
      </div>
      
      <section>
        <h3>Scores</h3>
        <div class="row">
          <div class="col-md-3 scores">
            <span class="score red">2.3</score>
            <h4>IMDB</h4>
          </div>
          <div class="col-md-3 scores">
            <span class="score yellow">5.0</score>
            <h4>Rotten Tomatoes</h4>
          </div>
          <div class="col-md-3 scores">
            <span class="score green">8.4</score>
            <h4>Metacritic</h4>
          </div>
          <div class="col-md-3 scores">
            <span class="score green">9.9</score>
            <h4>Total</h4>
          </div>
        </div>
      </section>
      
      <section>
        <h3>Screening Times</h3>
        <table class="table">
          <tbody>
            <tr>
              <td>Tomorrow, 9:00 am</td>
              <td><a href="#">SM Lanang</a></td>
              <td>P 150</td>
              <td><span class="format">2D</span></td>
            </tr>
            <tr>
              <td>Tomorrow, 9:00 am</td>
              <td><a href="#">SM Lanang</a></td>
              <td>P 150</td>
              <td><span class="format">2D</span></td>
            </tr>
            <tr>
              <td>Tomorrow, 9:00 am</td>
              <td><a href="#">SM Lanang</a></td>
              <td>P 150</td>
              <td><span class="format">2D</span></td>
            </tr>
            <tr>
              <td>Tomorrow, 9:00 am</td>
              <td><a href="#">SM Lanang</a></td>
              <td>P 150</td>
              <td><span class="format">2D</span></td>
            </tr>
            <tr>
              <td>Tomorrow, 9:00 am</td>
              <td><a href="#">SM Lanang</a></td>
              <td>P 150</td>
              <td><span class="format">2D</span></td>
            </tr>
            <tr>
              <td colspan="4" class="align-center">
                <a href="#">View More</a>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
  
    </div>
  
  </div>

</div>
<div class="curtains"></div>