<div id="movies">

  <div class="page-header row">
  
    <div class="col-md-4"><h2>Movies</h2></div>
    
    <div class="col-md-4 media-grid-options">
      {{#link-to 'movies' (query-params show='now-showing')}}Now Showing{{/link-to}} | 
      {{#link-to 'movies' (query-params show='finished')}}Finished{{/link-to}} | 
      {{#link-to 'movies' (query-params show='all')}}All{{/link-to}}
    </div>

    <div class="col-md-4 media-grid-search">
      &nbsp;
    </div>
    
  </div>
  
  <div class="media-grid">
    
    {{#each}}
    
      <div class="movie media-item">
        {{#link-to 'movies'}}
          {{#if posterUrl}}
            <div class="thumbnail">
              <img {{bind-attr src=posterUrl}} {{bind-attr alt=title}}>
            </div>
          {{else}}
            <div class="thumbnail no-thumbnail"></div>
          {{/if}}
          <h4 class="movie-title">{{title}}</h4>
          <span class="media-info">{{scheduleCount}} schedules</span>
          <span class="media-info">{{cinemaCount}} cinemas</span>
        {{/link-to}}
      </div>
    
    {{/each}}
    
  </div>

</div>