<div id="movies">

  <div class="page-header row">
  
    <div class="col-md-8">
      <h2>Movies</h2>
    </div>
    
    <div class="col-md-4 align-right">
      <form class="form">
        <input type="search" placeholder="Search Movies..." class="form-control">
        <i class="fa fa-search"></i>
      </form>
    </div>
    
  </div>
  
  <div class="media-grid">
    
    {{#each}}
    
      <div class="movie media-item">
        {{#link-to 'movie' this rel=id}}
          {{#if posterUrl}}
            <div class="thumbnail" {{bind-attr data-title=title}} draggable>
              <img {{bind-attr src=posterUrl}} {{bind-attr alt=title}}>
            </div>
          {{else}}
            <div class="thumbnail no-thumbnail" {{bind-attr data-title=title}}></div>
          {{/if}}
          <h4 class="movie-title">{{title}}</h4>
          <span class="media-info">{{duration runtime}}</span>
          <span class="media-info">{{mtrcbRating}}</span>
        {{/link-to}}
      </div>
    
    {{/each}}
    
  </div>
  
  {{outlet}}

</div>