<div id="movies">

  <div class="page-header">
  
    <h2>Schedules</h2>
    
  </div>
  
  <div class="schedules-filter row">
    
    <div class="col-md-4">
      {{input type="date" value=date class="form-control inline sked-filter-date"}}
    </div>
    
    <div class="col-md-4">
      {{view "select" content=cinemas value=cinema optionValuePath="content.id" optionLabelPath="content.name" class="form-control sked-filter-cinema"}}
    </div>
    
    <div class="col-md-4">
      {{view "select" content=movies value=movie optionValuePath="content.id" optionLabelPath="content.title" class="form-control sked-filter-movie"}}
    </div>
    
  </div>
  
  <table class="schedules table">
    <thead>
      <tr>
        <th>Movie</th>
        <th>Mall</th>
        <th>Cinema</th>
        <th>Price</th>
        <th>Format</th>
      </tr>
    </thead>
    <tbody>
      {{#each controller.paginatedContent}}
      <tr>
        <th>{{#link-to 'movie' movie}}{{movie.title}}{{/link-to}}</th>
        <td>{{#link-to 'cinema' cinema}}{{cinema.name}}{{/link-to}}</td>
        <td>{{room}}</td>
        <td>{{ticketPrice}}</td>
        <td>{{format}}</td>
      </tr>
      {{/each}}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="5">
          <ul class="pagination">
            {{#each p in pages}}
            <li>{{#link-to 'schedules' (query-params page=p)}}{{p}}{{/link-to}}</li>
            {{/each}}
          </ul>
        </td>
      </tr>
  </table>

</div>