<div id="movies">

  <div class="page-header">
  
    <h2>Schedules</h2>
    
  </div>
  
  <div class="schedules-filter row">
    
    <div class="col-md-4">
      {{input type="date" value=date class="form-control inline sked-filter-date"}}
    </div>
    
    <div class="col-md-4">
      {{view "select" content=cinemas value=cinema optionValuePath="content.id" optionLabelPath="content.name" class="form-control sked-filter-cinema"}}
    </div>
    
    <div class="col-md-4">
      {{view "select" content=movies value=movie optionValuePath="content.id" optionLabelPath="content.title" class="form-control sked-filter-movie"}}
    </div>
    
  </div>
  
  <table class="schedules table">
    <thead>
      <tr>
        <th class="sked-movie-col">Movie</th>
        <th class="sked-mall-col">Mall</th>
        <th class="sked-cinema-col">Cinema</th>
        <th class="sked-price-col">Price</th>
        <th class="sked-format-col">Format</th>
        <th class="sked-actions-col">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{#each controller.paginatedContent}}
      <tr>
        <th class="sked-movie">{{#link-to 'movie' movie}}{{movie.title}}{{/link-to}}</th>
        <td class="sked-mall">{{#link-to 'cinema' cinema}}{{cinema.name}}{{/link-to}}</td>
        <td class="sked-room">{{room}}</td>
        <td class="sked-price">{{ticketPrice}}</td>
        <td class="sked-format">{{format}}</td>
        <td class="sked-actions"><a {{action 'deleteSchedule' this}} href="#" title="Delete this schedule."><i class="fa fa-trash"></i></a></td>
      </tr>
      {{/each}}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="5">
          <ul class="pagination">
            {{#each p in pages}}
            <li>{{#link-to 'schedules' (query-params page=p)}}{{p}}{{/link-to}}</li>
            {{/each}}
          </ul>
        </td>
      </tr>
  </table>

</div>