<div class="media-grid">
    
  {{#each}}
  <div class="media movie">
    {{#if poster}}
    <div class="media-thumbnail">
    {{else}}
    <div class="media-thumbnail no-thumbnail">
    {{/if}}
      <a href="#" class="fi-container">{{#if poster}}<img {{bind-attr src=poster_url}} {{bind-attr alt=title}} class="fi">{{/if}}</a>
    </div>
    <a href="#" class="media-title">{{title}}</a>
    <span class="media-info">{{schedules_count}} scheduled
    {{#if schedules_count}}<br>{{schedules_cinema_count}} cinemas</span>{{/if}}
  </div>
  {{/each}}

  </div>